# Database (PostgreSQL)
# Имя пользователя БД
POSTGRES_USER=user
# Пароль пользователя БД
POSTGRES_PASSWORD=password
# Хост БД (в Docker-compose это имя сервиса, например: postgres_db)
POSTGRES_SERVER=postgres_db
# Имя базы данных
POSTGRES_DB=postgres_db
# Порт базы данных
POSTGRES_DB_PORT=5432

# Security 
# Секретный ключ для генерации JWT токенов
SECRET_KEY=your_super_secret_key_here

# Redis & Taskiq
# Порт для подключения к Redis
REDIS_PORT=6379
# Номер базы данных в Redis (по умолчанию 0)
REDIS_DB=0

# Admin Configuration
# Email администратора для проверки прав на эндпоинты (например, обновление баланса)
ADMIN_EMAIL=admin@example.com
# Username администратора
ADMIN_USERNAME=admin_user

# Observability
# DSN для Sentry (оставьте пустым для отключения)
SENTRY_DSN=